{% load login_extras %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{article.title}}</title>
  <link rel="stylesheet" href="{% static 'css/artilcepage.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <main>
    <article>
      <h6 id="article_id" style="display: none;">{{article.article_id}}</h6>
      <h6 id="checkuser" style="display: none;">{{user}}</h6>
      <h1 id="heading_text">{{article.title}}</h1>
      <div class="article-header">
        <div class="author-info">
          <a href="{% url 'profile' article.user.username %}">
            <img src="{{profile}}" alt="Author Avatar">
          </a>
          <div>
            <a href="{% url 'profile' article.user.username %}" style="text-decoration: none;">
              <h2>{{author}}</h2>
            </a>
            <p>Published on: {{article.created_at}}</p>

          </div>
        </div>

        <div class="mic">
          <button type="button" id="speaker" style="border: none; background-color: transparent;"><i
              class="fa fa-play"></i></button>
        </div>
      </div>
      <div class="article-content">
        <p id="articlecontent" style="white-space: pre-line;">{{article.content | safe }} </p>

      </div>
      <div class="article-actions">
        <button class="like-btn">
          <i class="fa fa-thumbs-up"></i>
          <span class="like-count">{{likes}}</span>
        </button>
        <button class="dislike-btn">
          <i class="fa fa-thumbs-down"></i>
          <span class="dislike-count">{{dislikes}}</span>
        </button>
        <button class="share-btn">
          <i class="fa fa-share-alt"></i>
          Share
        </button>
      </div>
      <div class="share-div-background">
        <div class="share-div">
          <div class="copy-url-div">
            <input id="url-field" type="url" value="http://articlehub.pythonanywhere.com/articlepage/{{article.article_id}}"
              placeholder="link" readonly>
            <button id="copy-url-btn" style="cursor: pointer;">Copy URL <i class="fa fa-copy"></i></button>
          </div>
          <ul id="social-media-share">
            <button class="button" data-sharer="facebook" data-hashtag="ArticleHub"
              data-url="http://articlehub.pythonanywhere.com/articlepage/{{article.article_id}}/"
              style="border: none; background-color: transparent;"><i class="fa fa-facebook"></i></button>

            <button class="button" data-sharer="twitter" data-title="Checkout this awesome article on ArticleHub!"
              data-url="http://articlehub.pythonanywhere.com/articlepage/{{article.article_id}}/"
              style="border: none; background-color: transparent;"><i class="fa fa-twitter"></i></button>
            <button class="button" data-sharer="telegram" data-title="Checkout this awesome article on ArticleHub!"
              data-url="http://articlehub.pythonanywhere.com/articlepage/{{article.article_id}}/"
              style="border: none; background-color: transparent;"><i class="fa fa-paper-plane"></i></button>
          </ul>
        </div>
      </div>
      <div class="comments-list"></div>
      </div>
      <div class="google_translate"></div>
      <div class="comments-section">
        <h2>Comments</h2>
        <div class="comment-form">
          <textarea placeholder="Add a comment..."></textarea>
          <div>
            <button class="submit-comment" style="cursor: pointer;">Submit</button>
            <div id="emptyerror"></div>
          </div>
        </div>
        <div class="comments-list">
          <div id="newcomment"></div>
          {% for comment in comments%}
          <div class="comment">
            <img src="{{comment.user.profile}}" class="comment-avatar">
            <div class="comment-details">
              <h3 class="comment-author">{{comment.user.username}}</h3>
              <p class="comment-timestamp">{{comment.created_at|simplify_timesince}}</p>
              <p class="comment-content">{{comment.comment}}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </article>
  </main>
  <!-- <footer>
<p>&copy; 2024 Article Website. All rights reserved.</p>
</footer> -->
  <script src="https://cdn.jsdelivr.net/npm/sharer.js@latest/sharer.min.js"></script>
  <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslator"></script>
  <script src="{% static 'js/articlepage.js'%}"></script>
</body>

</html>