{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArticleHub | Home</title>
    <style>
        .popular-cards-container {
            display: flex;
            /* Use flexbox layout */
            flex-wrap: nowrap;
            /* Prevent wrapping to next line */
            overflow-x: auto;
            /* Enable horizontal scrollbar if needed */
            height: 450px;
            /* Set the height of the container */
            padding: 10px;
            /* Add padding to the container */
        }

        .popular-cards-slide-conatiner {
            flex: 0 0 auto;
            /* Allow items to shrink if necessary */
            margin-right: 50px;
            /* Add margin between items */
            /* Adjust width of each item as needed */
            width: 250px;
            /* z-index: 4; */
        }

        #popular-article-1 {
            border: 1px solid #ccc;
            /* Add border for better visualization */
            border-radius: 5px;
            /* Add border radius for rounded corners */
            padding: 10px;
            /* Add padding to the article */
        }
    </style>
    <link rel="stylesheet" href="{% static 'css/indexstyle.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Italiana&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap"
        rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap"
        rel="stylesheet">

    <link
        href="https://fonts.googleapis.com/css2?family=Italiana&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header class="navBar">
        <a id="Art-hub" title="Arthro">ArticleHub</a>
        <div class="search-container">
            <form action="{% url 'search_result' %}" method="GET">
              <div class="search-box">
                <input id="search" type="search" name="search" placeholder="Search To Read..." required>
                <button type="submit"><i class="fa fa-search"></i></button>
              </div>
            </form>
          </div>

        <ul class=" nav-elements">

            <li id="home">
                <div id="home-bg">

                    <a style="text-decoration: none; color: #070F2B;" id="home-text" href="{%url 'home' %}"> <i class="fa fa-home"></i>Home </a>
                </div>

            </li>

            <li id="menu">
                <a id="menu-button" onclick="showMenu()"><i class="fa fa-bars"></i>Menu</a>
            </li>
            {%if user.is_publisher == 1%}
            <li id="article_writing">
                <img id="article_writing_icon_home" src="{% static 'images/publish.png'%}" alt="Write your Article" height="18px" width="18px" title="Write Your Article"> <a href="{% url 'publish' %}">Write Article</a>
              </li>
              {%endif%}
            {%if user.is_authenticated%}
            <div id="dropdwn">
                <button id="dropdwn-bttn"><i class="fa fa-user"></i>{{user.first_name}} {{user.last_name}}</button>
                <div id="dropdwn-container">
                    <div id="dropdwn-items-div">
                        <a id="dropdwn-content" href="{% url 'profile' user.username %}"> <ion-icon name="person-outline"></ion-icon>Profile</a>
                        <!-- {%if user.is_publisher == 1%}
                        <a id="dropdwn-content" href="{% url 'publish'  %}"> Publish your article</a>
                        {%endif%} -->
                        <div id="settings-dropdwn">
                            <a id="dropdwn-content" style="cursor: pointer;"><ion-icon name="cog-outline"></ion-icon>Settings</a>
                            <div id="settings-dropdwn-container">
                                <div id="settings-dropdwn-items-div">
                                    <a id="dropdwn-content" href="{% url 'deleteaccount' %}">Delete your account</a>
                                    <a id="dropdwn-content" href="{% url 'changepassword' %}">Change your password</a>
                                    <a id="dropdwn-content" href="{% url 'about' %}">About Us</a>
                                    <a id="dropdwn-content" href="{% url 'privacy' %}">Privacy & Security</a>
                                    <!-- Add more settings links as needed -->
                                </div>
                            </div>
                        </div>
                        <a id="dropdwn-content" onclick="userLogout()" style="cursor: pointer;"><ion-icon name="log-out-outline"></ion-icon>Log Out</a>
                    </div>

                </div>
            </div>
            {% else %}
            <li id="signup">
                <a id="signup-link" href="{% url 'login' %}">LogIn</a>
            </li> 
            <li id="signup">
                <a id="signup-link" href="{% url 'signup' %}">SignUp</a>
            </li>
            {%endif%}


        </ul>
    </header>

    <div class="banner">
        <h1 id="banner-text">Learn <br> By <br> Reading</h1>
        <img id="banner-img" src="{% static 'images/Banner.svg'%}" alt="Digital Art" height="500px" width="500px">
    </div>


    <div class="popular-articles-sec">
        <div id="popular-head-div">
            <h4 id="popular-articles-head">Popular Articles</h4>
        </div>
        <div class="popular-cards-container">
            {% for article in articles %}
            <div class="popular-cards-slide-conatiner">
                <a href="{% url 'articlepage' article.article_id %}" target="_blank">
                    <div id="popular-article-1" class="relative">
                        <div id="article-thumbnail" style="background-image: url({{article.thumbnail}});"
                            class="relative">
                            {%if user.is_authenticated %}
                            <div class="bookmark-container">
                                <button id="bookmark-btn" class="bookmark-btn{{article.article_id}}"
                                    onclick="bookmarkArticle(event,{{article.article_id}})">
                                    {%if article.bookmarked %}
                                    <i class="fa fa-bookmark bookmark-icon bookmarked"></i>
                                    {%else%}
                                    <i class="fa fa-bookmark bookmark-icon"></i>
                                    {%endif%}
                                </button>
                            </div>
                            {%endif%}
                        </div>
                        <ul id="article-text">
                            <li id="cat-name">{{article.Category.category}}</li>
                            <li id="article-head">{{article.title}}</li>
                            <div id="authorName-and-like">
                                <li id="authors-name">{{article.user.first_name}} {{article.user.last_name}}</li>
                                {{article.num_likes}} Likes</i>
                            </div>
                        </ul>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    
    <div class="psycho-category">
        <div id="psycho-head-more">
            <h4 id="psycho-category-head">Your Following</h4>
            {% if user.is_authenticated %}
            <a href="{% url 'categories_show' 'following' %}" id="view-more-psycho">View more</a>
            {%endif%}
        </div>


        <div id="line-break"></div>

        <div id="psycho-articles">
            <div class="popular-cards-container" id="popular-cards-container"
                style="padding-left: 0px;margin-left: -22px;">
                {% for article in following_articles %}
                <div class="popular-cards-slide-conatiner" data-category="{{ article.Category.category_id }}">
                    <a href="{% url 'articlepage' article.article_id %}" target="_blank">
                        <div id="popular-article-1">
                            <div id="article-thumbnail" style="background-image: url({{article.thumbnail}});"
                                class="relative">
                                {%if user.is_authenticated %}
                                <div class="bookmark-container">
                                    <button id="bookmark-btn" class="bookmark-btn{{article.article_id}}"
                                        onclick="bookmarkArticle(event,{{article.article_id}})">
                                        {%if article.bookmarked %}
                                        <i class="fa fa-bookmark bookmark-icon bookmarked"></i>
                                        {%else%}
                                        <i class="fa fa-bookmark bookmark-icon"></i>
                                        {%endif%}
                                    </button>
                                </div>
                                {%endif%}
                            </div>
                            <ul id="article-text">
                                <li id="cat-name">{{ article.Category.category }}</li>
                                <li id="article-head">{{ article.title }}</li>
                                <div id="authorName-and-like">
                                    <li id="authors-name">{{ article.user.first_name }} {{ article.user.last_name }}
                                    </li>{{article.num_likes}} Likes

                                </div>
                            </ul>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>

        </div>

    </div>
    <div class="tech-category">
        <div id="tech-head-more">
            <select id="category-select">
                <option value="0">All Categories</option>
                {% for category in categories %}
                <option value="{{ category.category_id }}">{{ category.category }}</option>
                {% endfor %}
            </select>
            <!-- <h4 id="tech-category-head">Technology <i id="drop-icon" class="fa fa-caret-down"></i></h4> -->
            <a href="{% url 'categories_show' 'all'  %}" id="view-more-tech">View more</a>
        </div>

        <!-- <div id="line-break"></div> -->
        <div id="tech-articles">


            <div class="popular-cards-container" id="popular-cards-container" style="padding-top: 30px;">
                {% for article in categories_articles %}
                <div class="popular-cards-slide-conatiner categories"
                    data-category="{{ article.Category.category_id }}">
                    <a href="{% url 'articlepage' article.article_id %}" target="_blank">
                        <div id="popular-article-1">
                            <div id="article-thumbnail" style="background-image: url({{article.thumbnail}});"
                                class="relative">
                                {%if user.is_authenticated %}
                                <div class="bookmark-container">
                                    <button id="bookmark-btn" class="bookmark-btn{{article.article_id}}"
                                        onclick="bookmarkArticle(event,{{article.article_id}})">
                                        {%if article.bookmarked %}
                                        <i class="fa fa-bookmark bookmark-icon bookmarked"></i>
                                        {%else%}
                                        <i class="fa fa-bookmark bookmark-icon"></i>
                                        {%endif%}
                                    </button>
                                </div>
                                {%endif%}
                            </div>
                            <ul id="article-text">
                                <li id="cat-name">{{ article.Category.category }}</li>
                                <li id="article-head">{{ article.title }}</li>
                                <div id="authorName-and-like">
                                    <li id="authors-name">{{ article.user.first_name }} {{ article.user.last_name }}
                                    </li>{{article.num_likes}} Likes

                                </div>
                            </ul>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>


        </div>

    </div>


    <div class="footer">
        <div id="thank-text">Thanks For Visiting!</div>
        <div id="content-container">
            <div id="category-contents">
                <h5 id="categories-heading">Categories</h5>
                <ul id="categoeries-content-div">
                    <li id="categories"> <a id="categories" href="{% url 'categories_show' 'Fashion' %}">Fashion</a> </li>
                    <li id="categories"> <a id="categories" href="{% url 'categories_show' 'Food' %}">Food</a> </li>
                    <li id="categories"> <a id="categories" href="{% url 'categories_show' 'Sport' %}">Sports</a> </li>
                    <li id="categories"> <a id="categories" href="{% url 'categories_show' 'Tourism' %}">Tourism</a> </li>
                </ul>
            </div>


            <div id="vl-footer"></div>

            <div id="contact-contents">
                <h5 id="contact-us-heading">Contact Us</h5>
                <ul id="contact-content-div">
                    <li id="contact-symbol"> <a id="contact-symbol" href="https://www.instagram.com/hub4article?igsh=MXJqMTd4MTU0MDJrcQ==" target="_blank"> <i class="fa fa-instagram"></i> </a> </li>
                    <li id="contact-symbol"> <a id="contact-symbol" href="https://www.facebook.com/profile.php?id=61559748331034&mibextid=ZbWKwL" target="_blank"> <i class="fa fa-facebook"></i> </a> </li>
                    <li id="contact-symbol"> <a id="contact-symbol" href="https://x.com/hub4article?t=j-rBiLiOXr4yUH29hHADpQ&s=09" target="_blank"> <i class="fa fa-twitter"></i></a>
                    </li>
                    <li id="contact-symbol"> <a id="contact-symbol" href="mailto:hub4article@gmail.com?subject=Subject%20Here&body=Body%20Here" target="_blank"> <i class="fa fa-envelope"></i> </a> </li>
                </ul>
            </div>

        </div>

        <h4 id="copyright-line"> &#169 2024 All rights are reserved. </h4>
    </div>

    <div class="menu-container" style="display: none;">
        <div id="menu-categories">
            <ul id="written-categories">

                <li><a id="main-categories" href="{% url 'categories_show' 'Art' %}">Art & Culture</a></li>
                <li><a id="main-categories" href="{% url 'categories_show' 'Business' %}">Business</a></li>
                <li><a id="main-categories" href="{% url 'categories_show' 'Health' %}">Health</a></li>
                <li><a id="main-categories" href="{% url 'categories_show' 'Environment' %}">Environment</a></li>
                <li><a id="main-categories" href="{% url 'categories_show' 'Education' %}">Education</a></li>
                <li><a id="main-categories" href="{% url 'categories_show' 'Technology' %}">Technology</a></li>

            </ul>

            <div id="vl"></div>

            <ul id="visual-categories">

                <li><a id="side-categories" href="">Podcast <i id="" class="fa fa-podcast"></i></a></li>
                <li><a id="side-categories" href="">Video <i id="" class="fa fa-photo-film"></i></a></li>
                <li><a id="side-categories" href="">Art <i id="" class="fa fa-brush"></i></a></li>

            </ul>

        </div>

    </div>

    <div id="logoutModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <h2>Confirmation</h2>
          <p>Are you sure you want to log out?</p>
          <div class="buttons">
            <button id="logoutConfirm"><ion-icon name="log-out-outline"></ion-icon>Log Out</button>
            <button id="logoutCancel">Cancel</button>
          </div>
        </div>
      </div>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <script src="{%static 'js/indexScript.js' %}"></script>
</body>

</html>