{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{profile_user.first_name}} ({{profile_user.username}}) • ArticleHub</title>
    <link rel="stylesheet" href="{% static 'css/ProfileStyle.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <h1 id="profileusername" style="display: none;">{{profile_user.username}}</h1>
    <div class="profile-page">
        <header>
            <div class="profile-pic-container">
                <img class="profile-pic" src="{{profile_user.profile}}">
                {%if user == profile_user%}
                <input type="file" id="profile-pic-input" accept="image/*" style="display: none;">
                <button class="change-pic-btn" onclick="selectProfilePic()"><i class="fa fa-pencil"></i></button>
                {%endif%}
            </div>
            <h1 class="name">{{profile_user.first_name}} {{profile_user.last_name}}</h1>
            <div id="bio-div">
                <p class="bio" id="bio" value="bio">{{profile_user.bio}}</p>
            </div>
        </header>
        <div id="social-media-icon-div">
            {% if social_user.instagram %}
            <a id="instasocial" href="{{social_user.instagram}}" style="display: block;" target="_blank"><i class="fa fa-instagram"></i></a>
            {% endif %}
            {% if social_user.facebook %}
            <a id="fb" href="{{social_user.facebook}}" style="display: block;" target="_blank"><i class="fa fa-facebook"></i></a>
            {% endif %}
            {% if social_user.twitter %}
            <a id="twittersocial" href="{{social_user.twitter}}" style="display: block;" target="_blank"><i class="fa fa-twitter"></i></a>
            {% endif %}
            {% if social_user.email %}
            <a id="mail" href="{{social_user.email}}" style="display: block;" target="_blank"><i class="fa fa-envelope"></i></a>
            {% endif %}
        </div>
        <div class="user-analytics">
            <ul>
                <li id="followers-num">
                    <div class="follow numbers">{{followers}} </div>
                    Followers
                </li>
                <li id="following-num">
                    <div class="following numbers">{{following}} </div>
                    Following
                </li>
                {% if user != profile_user %}

                <li>
                    {%if isfollowing %}
                    <button id="followBtn" class="following">Unfollow</button>
                    {%else%}
                    <button id="followBtn">Follow</button>
                    {%endif%}
                </li>
                {%endif%}
            </ul>
        </div>



        <nav>
            <ul class="nav-tabs">
                <li><a href="#" class="tab" data-tab="reading-list">Bookmarked Articles</a></li>
                {%if profile_user.is_publisher%}
                <li><a href="#" class="tab " data-tab="published">Published Articles</a></li>
                <!-- <li><a href="#" class="tab" data-tab="preferences">Preferences</a></li> -->
                {%endif%}
                {%if user == profile_user%}
                <li><a href="#" class="tab" data-tab="settings">Edit Profile</a></li>
                {%else%}
                {%endif%}
                <!-- <li><a href="#" class="tab" data-tab="drafts">Drafts</a></li>
            <li><a href="#" class="tab" data-tab="analytics">Analytics</a></li> -->
            </ul>
        </nav>

        <main>
            <h1 id="usernametodeletearticle" style="display: none;">{{user.username}}</h1>
            <div class="tab-content" id="reading-list">
                <div class="popular-cards-container" id="popular-cards-container">
                    {% for article in bookmarked_articles %}
                    <div class="popular-cards-slide-conatiner categories"
                        data-category="{{ article.Category.category_id }}">
                        <a href="{% url 'articlepage' article.article_id %}" target="_blank"
                            style="text-decoration: none; color: black;">
                            <div id="popular-article-1">
                                <div id="article-thumbnail" style="background-image: url({{article.thumbnail}});">
                                    {%if user.is_authenticated %}
                                    <div class="bookmark-container">
                                        <button id="bookmark-btn" class="bookmark-btn{{article.article_id}}"
                                            onclick="bookmarkArticle(event,{{article.article_id}})">
                                            {%if article.bookmarked %}
                                            <i class="fa fa-bookmark bookmark-icon bookmarked"></i>
                                            {%else%}
                                            <i class="fa fa-bookmark bookmark-icon"></i>
                                            {%endif%}
                                        </button>
                                    </div>
                                    {%endif%}</div>
                                <ul id="article-text">
                                    <li id="cat-name">{{ article.Category.category }}</li>
                                    <li id="article-head">{{ article.title }}</li>
                                    <div id="authorName-and-like">
                                        <li id="authors-name">{{ article.user.first_name }} {{ article.user.last_name }}
                                        </li> {{article.num_likes}} Likes
                                    </div>
                                </ul>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="tab-content" id="published">
                <div class="popular-cards-container" id="popular-cards-container">
                    {% for article in published_articles %}
                    <div class="popular-cards-slide-conatiner categories"
                        data-category="{{ article.Category.category_id }}" data-article="{{article.article_id}}">
                        <a href="{% url 'articlepage' article.article_id %}" target="_blank"
                            style="text-decoration: none; color: black;">
                            <div id="popular-article-1">
                                <div id="article-thumbnail" style="background-image: url({{article.thumbnail}});">
                                    {%if user == profile_user%}
                                    <button class="bin-button" onclick="deletearticle(event,{{article.article_id}})">
                                        <svg class="bin-top" viewBox="0 0 39 7" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <line y1="5" x2="39" y2="5" stroke="white" stroke-width="4"></line>
                                            <line x1="12" y1="1.5" x2="26.0357" y2="1.5" stroke="white"
                                                stroke-width="3"></line>
                                        </svg>
                                        <svg class="bin-bottom" viewBox="0 0 33 39" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <mask id="path-1-inside-1_8_19" fill="white">
                                                <path
                                                    d="M0 0H33V35C33 37.2091 31.2091 39 29 39H4C1.79086 39 0 37.2091 0 35V0Z">
                                                </path>
                                            </mask>
                                            <path
                                                d="M0 0H33H0ZM37 35C37 39.4183 33.4183 43 29 43H4C-0.418278 43 -4 39.4183 -4 35H4H29H37ZM4 43C-0.418278 43 -4 39.4183 -4 35V0H4V35V43ZM37 0V35C37 39.4183 33.4183 43 29 43V35V0H37Z"
                                                fill="white" mask="url(#path-1-inside-1_8_19)"></path>
                                            <path d="M12 6L12 29" stroke="white" stroke-width="4"></path>
                                            <path d="M21 6V29" stroke="white" stroke-width="4"></path>
                                        </svg>
                                    </button>
                                    {%endif%}
                                </div>
                                <ul id="article-text">
                                    <li id="cat-name">{{ article.Category.category }}</li>
                                    <li id="article-head">{{ article.title }}</li>
                                    <div id="authorName-and-like">
                                        <li id="authors-name">{{ article.user.first_name }} {{ article.user.last_name }}
                                        </li> {{article.num_likes}} Likes</li>

                                    </div>
                                </ul>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!-- <div class="tab-content" id="preferences">
            
          </div> -->

            <div class="tab-content" id="settings">
                <div class="user-setting-container">
                    <div class="user-setting-form-container">
                        <ul>
                            <li>
                                <!-- <div></div> -->
                                <input class="input-user-text" id="firstname" type="text" placeholder="First Name">
                            </li>
                            <li>
                                <!-- <div>Last Name :</div> -->
                                <input class="input-user-text" id="lastname" type="text" placeholder="Last Name">
                            </li>
                            <li>
                                <!-- <div>Bio :</div> -->
                                <input class="input-user-text" id="bio-input" type="text" placeholder="Bio">
                            </li>
                            <li>
                                <!-- <div>Username :</div> -->
                                <input class="input-user-text" id="user-name" type="text" placeholder="Username">
                            </li>
                            <li>
                                <!-- <div>Email :</div> -->
                                <input class="input-user-text" id="gender" type="text" placeholder="Email">
                            </li>
                        </ul>
                        <button type="submit" class="submit-button" onclick="handleFormSubmission()">Submit</button>
                    </div>
                </div>
                <div class="social-media-links-container">
                    <h5>Social media links</h5>
                    <div id="social-media-icon-div">
                        <i class="fa fa-instagram" onclick="addsocialmedia('Instagram')"></i>
                        <i class="fa fa-facebook" onclick="addsocialmedia('Facebook')"></i>
                        <i class="fa fa-twitter" onclick="addsocialmedia('Twitter')"></i>
                        <i class="fa fa-envelope" onclick="addsocialmedia('Email')"></i>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div class="instagram-popup-window-link">
        <div id="popup-window-link-container">
            <h4 id="insta"></h4>
            <div id="instagram-add-link-container">
                <input id="inputsocial" type="url" placeholder="Add link" autofocus>
            </div>
            <div id="error-message" style="display: none; color: red;"></div>

            <input id="add-link-submit-button" type="button" value="Add" onclick="addLink()">
            <input id="add-link-submit-button" type="button" value="Cancel" onclick="cancelLink()">

        </div>
    </div>

    <script src="{%static 'js/ProfileScript.js' %}"></script>
</body>

</html>