{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{profile_user.first_name}} ({{profile_user.username}}) • ArticleHub</title>
    <link rel="stylesheet" href="{% static 'css/ProfileStyle.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <h1 id="profileusername" style="display: none;">{{profile_user.username}}</h1>
    <div class="profile-page">
        <header>
            <div class="profile-pic-container">
                <img class="profile-pic" src="{{profile_user.profile}}">
                {%if user == profile_user%}
                <input type="file" id="profile-pic-input" accept="image/*" style="display: none;">
                <button class="change-pic-btn" onclick="selectProfilePic()"><i class="fa fa-pencil"></i></button>
                {%endif%}
            </div>
            <h1 class="name">{{profile_user.first_name}} {{profile_user.last_name}}</h1>
            <div id="bio-div">
                <p class="bio" id="bio" value="bio">{{profile_user.bio}}</p>
            </div>
        </header>

        <div class="user-analytics">
            <ul>
                <li id="followers-num">
                    <div class="follow numbers">{{followers}} </div>
                    Followers
                </li>
                <li id="following-num">
                    <div class="following numbers">{{following}} </div>
                    Following
                </li>
                {% if user != profile_user %}

                <li>
                    {%if isfollowing %}
                    <button id="followBtn" class="following">Unfollow</button>
                    {%else%}
                    <button id="followBtn">Follow</button>
                    {%endif%}
                </li>
                {%endif%}
            </ul>
        </div>



        <nav>
            <ul class="nav-tabs">
                <li><a href="#" class="tab" data-tab="reading-list">Bookmarked Articles</a></li>
                {%if profile_user.is_publisher%}
                <li><a href="#" class="tab " data-tab="published">Published Articles</a></li>
                <!-- <li><a href="#" class="tab" data-tab="preferences">Preferences</a></li> -->
                {%endif%}
                {%if user == profile_user%}
                <li><a href="#" class="tab" data-tab="settings">Edit Profile</a></li>
                {%else%}
                {%endif%}
                <!-- <li><a href="#" class="tab" data-tab="drafts">Drafts</a></li>
            <li><a href="#" class="tab" data-tab="analytics">Analytics</a></li> -->
            </ul>
        </nav>

        <main>
            <div class="tab-content" id="reading-list">
                <div class="popular-cards-container" id="popular-cards-container">
                    {% for article in bookmarked_articles %}
                    <div class="popular-cards-slide-conatiner categories"
                        data-category="{{ article.Category.category_id }}">
                        <a href="{% url 'articlepage' article.article_id %}" target="_blank">
                            <div id="popular-article-1">
                                <div id="article-thumbnail" style="background-image: url({{article.thumbnail}});"></div>
                                <ul id="article-text">
                                    <li id="cat-name">{{ article.Category.category }}</li>
                                    <li id="article-head">{{ article.title }}</li>
                                    <div id="authorName-and-like">
                                        <li id="authors-name">{{ article.user.first_name }} {{ article.user.last_name }}
                                        </li> <i id="like" class="fa fa-thumbs-up"></i>
                                    </div>
                                </ul>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="tab-content" id="published">
                <div class="popular-cards-container" id="popular-cards-container">
                    {% for article in published_articles %}
                    <div class="popular-cards-slide-conatiner categories"
                        data-category="{{ article.Category.category_id }}">
                        <a href="{% url 'articlepage' article.article_id %}" target="_blank">
                            <div id="popular-article-1">
                                <div id="article-thumbnail" style="background-image: url({{article.thumbnail}});"></div>
                                <ul id="article-text">
                                    <li id="cat-name">{{ article.Category.category }}</li>
                                    <li id="article-head">{{ article.title }}</li>
                                    <div id="authorName-and-like">
                                        <li id="authors-name">{{ article.user.first_name }} {{ article.user.last_name }}
                                        </li> <i id="like" class="fa fa-thumbs-up"></i>
                                    </div>
                                </ul>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!-- <div class="tab-content" id="preferences">
            
          </div> -->

            <div class="tab-content" id="settings">
                <div class="user-setting-container">
                    <form action="" class="user-setting-form-container">
                        <ul>
                            <li>
                                <div>Name :</div>
                                <input class="input-user-text" id="name" type="text" value="Name" placeholder="Name">
                            </li>
                            <li>
                                <div>Username :</div>
                                <input class="input-user-text" id="user-name" type="text" value="Username"
                                    placeholder="Username">
                            </li>
                            <li>
                                <div>Bio :</div>
                                <input class="input-user-text" id="bio-input" type="text" value="Bio" placeholder="Bio">
                            </li>
                            <li>
                                <div>Gender :</div>
                                <input class="input-user-text" id="gender" type="text" value="Gender"
                                    placeholder="Gender">
                            </li>
                        </ul>
                    </form>
                </div>

                <div class="social-media-links-container">
                    <h5>
                        Social media links
                    </h5>
                    <div id="social-media-icon-div">
                        <i class="fa fa-instagram"></i>
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-envelope"></i>
                    </div>

                </div>

                <!-- <div class="about-user-container">
                <h4>ABOUT</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat dolor similique officia illum explicabo aliquam iste laudantium, neque nostrum veritatis corrupti reprehenderit omnis aliquid nam nobis numquam voluptatibus commodi maiores.</p>
            </div> -->

            </div>

            <!-- <div class="tab-content" id="drafts">
           
          </div>
          
          <div class="tab-content" id="analytics">
            
          </div> -->
        </main>
    </div>

    <!-- <div class="popup-window-link">
        <div id="popup-window-link-container">
            <h4><i class="fa fa-instagram"></i>Instagram</h4>
            <div id="add-link-container">
                <input type="url" placeholder="Add link" autofocus>
            </div> 
            <input id="add-link-submit-button" type="button" value="Done">
        </div>
       </div> -->

    <script src="{%static 'js/ProfileScript.js' %}"></script>
</body>

</html>