{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ArticleHub Signup</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/signUpStyle.css' %}">
</head>
<body>
  <div class="container">
    <h1>ArticleHub</h1>
    <h3>
        Sign UP ! to start your journey</h3>

    <div class="progress-bar">
      <span class="step active" onclick="showStep(1)">1</span>
      <span class="step" onclick="showStep(2)">2</span>
      <span class="step" onclick="showStep(3)">3</span>
    </div>

    <form id="signupForm">
      <div id="step1">
        <input id="firstname" type="text" placeholder="First Name" required>
        <input id="lastname" type="text" placeholder="Last Name" >
        <input id="username" type="text" placeholder="Username" required>
        <input id="email" type="email" placeholder="Email" required>
        <input id="pword" type="password" placeholder="Password" required>
        <input id="Cpword" type="password" placeholder="Confirm Password"  required>
        <div class="error-message"></div>
        <button type="button" id="nextBtn1">Next</button>
      </div>

      <div id="step2" style="display: none;">
        <div style="text-align: center; margin-bottom: 20px;">
          <img id="profilePicPreview" src="" alt="Profile Picture Preview">
        </div>
        <label for="profilePic" id="profilePicLabel">Upload Profile Picture</label>
        <input type="file" accept="image/*" id="profilePic">
        <textarea id="bio" placeholder="Bio" rows="5"></textarea>
        <div class="error-messages"></div>
        <button type="button" id="prevBtn1">Previous</button>
        <button type="button" id="skip">Skip</button>
        <button type="button" id="nextBtn2">Next</button>
      </div>

      <div id="step3" style="display: none;">
        <h3>Are you a publisher?</h3>
        <div class="radio-group">
          <label>
            <input type="radio" name="isPublisher" value="1"> Yes
          </label>
          <label>
            <input type="radio" name="isPublisher" value="0" checked> No
          </label>
        </div>
        <button type="button" id="prevBtn2">Previous</button>
        <button id="signup" type="button">Sign Up</button>
      </div>
    </form>
  </div>

  <script src="{% static 'js/signup.js' %}"></script>
</body>
</html>

    